<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/authForms.css" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/currencyPricing.css" type="text/css"/>

    <title>Nodeberry</title>
</head>
<body>
    <br><br>
    <h1>nodeberry</h1>
    <br><br>

    <div class="container mt-4 box">
        <center><label class="mb-4 heading1">check crypto currency pricing now</label></center>
        <% if(token) { %>
            <%- include('currencyPricing') %>
        <% } else { %>
            <%- include('authForms') %>
        <% } %>
    </div>

    <% if(token) { %>
        <script src="/scripts/currencyPricing.js"></script>
    <% } else { %>
        <script src="/scripts/authForms.js"></script>
    <% } %>
</body>
</html>

