.forms .signup, .forms .verifyemail, .forms .login {
    padding: 5%;
    border: 1px solid;
    border-radius: 15px;
}
.forms .signup .heading2, .forms .verifyemail .heading2, .forms .login .heading2 {
    font-style: italic;
}
.forms .signup h4, .forms .login h4 {
    text-transform: capitalize;
}
.forms .signup button, .forms .verifyemail button, .forms .login button {
    float: right;
}
.forms .verifyemail {
    display: none;
}

